<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 59.6 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159122 sha256=b60da60d0460736d3ce3d71883444463d8bd5b20cd9c931ec56e9a26e4257118
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/ef/95/ac/c232f83b415900c26553c64266e1a2b2863bc63e7a5d606c7e
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [9]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [14]:
%sql select DISTINCT Launch_Site from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
%sql select Launch_Site from SPACEXTBL where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
%sql select SUM(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer like 'NASA%'

 * sqlite:///my_data1.db
Done.

[(99980,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [24]:
%sql select AVG(PAYLOAD_MASS__KG_) from SPACEXTBL where Booster_Version like 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [31]:
%sql select min(Date) from SPACEXTBL where "Landing _Outcome" = 'Success'

 * sqlite:///my_data1.db
Done.

[('02-03-2019',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [36]:
%sql select "Booster_Version" from SPACEXTBL where "Landing _Outcome" = "Success (drone ship)" and "PAYLOAD_MASS__KG_" between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [42]:
%sql select "Mission_Outcome", count("Mission_Outcome") as "total_number" from SPACEXTBL group by "Mission_Outcome"

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [45]:
%sql select "Booster_Version" from SPACEXTBL where "PAYLOAD_MASS__KG_"=(select MAX("PAYLOAD_MASS__KG_") from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

substr(Date, 4, 2)### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [64]:
%sql select substr(Date, 4, 2) as "Month", "Landing _Outcome", "Booster_Version", "Launch_Site" from SPACEXTBL where "Date" like "%2015%" and "Landing _Outcome" ="Failure (drone ship)"

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [79]:
%sql select "Date", "Landing _Outcome" from SPACEXTBL order by "Date" DESC

 * sqlite:///my_data1.db
Done.

[('31-01-2018', 'Controlled (ocean)'),
 ('30-10-2017', 'Success (drone ship)'),
 ('30-08-2020', 'Success'),
 ('30-06-2020', 'Success'),
 ('30-05-2020', 'Success'),
 ('30-03-2018', 'No attempt'),
 ('30-03-2017', 'Success (drone ship)'),
 ('29-09-2013', 'Uncontrolled (ocean)'),
 ('29-06-2018', 'No attempt'),
 ('29-01-2020', 'Success'),
 ('28-06-2015', 'Precluded (drone ship)'),
 ('27-05-2016', 'Success (drone ship)'),
 ('27-04-2015', 'No attempt'),
 ('25-11-2020', 'Success'),
 ('25-07-2019', 'Success'),
 ('25-07-2018', 'Success'),
 ('25-06-2017', 'Success (drone ship)'),
 ('24-10-2020', 'Success'),
 ('24-08-2017', 'Success (drone ship)'),
 ('24-05-2019', 'Success'),
 ('23-12-2018', 'No attempt'),
 ('23-12-2017', 'Controlled (ocean)'),
 ('23-06-2017', 'Success (drone ship)'),
 ('22-12-2015', 'Success (ground pad)'),
 ('22-07-2018', 'Success'),
 ('22-05-2018', 'No attempt'),
 ('22-05-2012', 'No attempt'),
 ('22-04-2020', 'Success'),
 ('22-02-2019', 'Success'),
 ('22-02-2018', 'No attempt'),
 ('21-11-2020', 'Success'),
 ('21-09-2014', 'Uncontrolled (ocean)'),
 ('20-07-2020', 'Success'),
 ('19-02-2017', 'Success (ground pad)'),
 ('19-01-2020', 'No attempt'),
 ('18-10-2020', 'Success'),
 ('18-08-2020', 'Success'),
 ('18-07-2016', 'Success (ground pad)'),
 ('18-04-2018', 'Success (drone ship)'),
 ('18-04-2014', 'Controlled (ocean)'),
 ('18-03-2020', 'Failure'),
 ('17-12-2019', 'Success'),
 ('17-02-2020', 'Failure'),
 ('17-01-2016', 'Failure (drone ship)'),
 ('16-11-2020', 'Success'),
 ('16-03-2017', 'No attempt'),
 ('15-12-2017', 'Success (ground pad)'),
 ('15-11-2018', 'Success'),
 ('15-06-2016', 'Failure (drone ship)'),
 ('15-05-2017', 'No attempt'),
 ('14-08-2017', 'Success (ground pad)'),
 ('14-08-2016', 'Success (drone ship)'),
 ('14-07-2014', 'Controlled (ocean)'),
 ('14-04-2015', 'Failure (drone ship)'),
 ('14-01-2017', 'Success (drone ship)'),
 ('13-06-2020', 'Success'),
 ('12-06-2019', 'Success'),
 ('11-11-2019', 'Success'),
 ('11-10-2017', 'Success (drone ship)'),
 ('11-05-2018', 'Success (drone ship)'),
 ('11-02-2015', 'Controlled (ocean)'),
 ('11-01-2019', 'Success'),
 ('10-09-2018', 'Success'),
 ('10-01-2015', 'Failure (drone ship)'),
 ('09-10-2017', 'Success (drone ship)'),
 ('08-12-2010', 'Failure (parachute)'),
 ('08-10-2018', 'Success'),
 ('08-10-2012', 'No attempt'),
 ('08-04-2016', 'Success (drone ship)'),
 ('08-01-2018', 'Success (ground pad)'),
 ('07-09-2017', 'Success (ground pad)'),
 ('07-09-2014', 'No attempt'),
 ('07-08-2020', 'Success'),
 ('07-08-2018', 'Success'),
 ('07-03-2020', 'Success'),
 ('07-01-2020', 'Success'),
 ('06-12-2020', 'Success'),
 ('06-10-2020', 'Success'),
 ('06-08-2019', 'No attempt '),
 ('06-05-2016', 'Success (drone ship)'),
 ('06-03-2018', 'No attempt'),
 ('06-01-2014', 'No attempt'),
 ('05-12-2019', 'Success'),
 ('05-12-2018', 'Failure'),
 ('05-11-2020', 'Success'),
 ('05-08-2014', 'No attempt'),
 ('05-07-2017', 'No attempt'),
 ('04-06-2020', 'Success'),
 ('04-06-2018', 'No attempt'),
 ('04-06-2010', 'Failure (parachute)'),
 ('04-05-2019', 'Success'),
 ('04-03-2016', 'Failure (drone ship)'),
 ('03-12-2018', 'Success'),
 ('03-12-2013', 'No attempt'),
 ('03-09-2020', 'Success'),
 ('03-06-2017', 'Success (ground pad)'),
 ('02-04-2018', 'No attempt'),
 ('02-03-2019', 'Success'),
 ('02-03-2015', 'No attempt'),
 ('01-05-2017', 'Success (ground pad)'),
 ('01-03-2013', 'No attempt')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>